* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, 
html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.nav-main-container {
  background-color: #354051;
}

/* Profile Pic Section */

.nav-main-profile-section {
  align-items: center;
  border-bottom: 5px solid #021433;
  color: #EDF2F6;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  background-image: url(images/paulv.jpeg);
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  margin: 35px 0 15px;
  width: 100px;
}

.profile-pic-name {
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 35px;
}

/* Navigation bar titles and links */


.nav-bar-directory {
  border-left: solid transparent 2px;
  color: #bbceed;
  font-size: 13px;
  padding: 15px 15px 20px
}

.nav-bar-titles {
  color: #7E8BA5;
  font-size: 12px;
  font-weight: 900;
  padding: 20px 15px 10px;
}

.nav-bar-directory:hover {
  background-color: #021433;
  border-left: solid blue 2px;
  cursor: pointer;
  filter: brightness(110%);
}


/* Nav First Section */

.nav-main-section,
.nav-admin-section {
  border-bottom: 5px solid #021433;
}

/* Nav categories section */

.fa-check-square {
  color: yellow;
}

.small-blue-square {
  color: blue;
}

.small-red-square {
  color: red;
}

.small-green-square {
  color: green;
}

.fas {
  margin: 10px
}

.main-content-2 {
  height: 100%;
}

/* Search Bar Section */

.header-search-bar-container {
  display: grid;
  grid-template-columns: 80px 80px 1fr 80px 80px 80px;
  height: 80px;
}

.top-buttons {
  border-top: none;
  border:#e1e4ea 2px solid;
  display: flex;
  justify-content: center;
}

.fa-caret-left {
  margin-right: 0px;
}

.top-icons {
  margin-top: 25px;
}

.top-buttons:hover {
  background-color: #26a6f7;
  color: white;
  cursor: pointer;
}

.header-search-search-bar {
  border-left: none;
  border-top: none;
  border: #e1e4ea 2px solid;
  font-size: 20px;
  height: 80px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}

.fa-bars {
  margin-right: 10px;
}

.header-job-title-bar {
  border: solid black 2px;
  height: 150px;
}

.header-search-hamburger {
  border-left: none;
}

.header-search-bar-icon {
  border-right: none;
}



/* Customer service title section */

.job-title {
  display: grid;
  grid-template-columns: 1fr 120px repeat(3,60px);
  margin-right: 35px;
}

.job-title-text {
  font-size: 30px;
  margin: 70px 0px 20px 60px;
}

.job-title-location {
  font-size: 15px;
  margin-left: 33px;
}

.job-title-preview {
  color: #26a6f7;
}

.job-title-preview:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.fa-circle {
  font-size: 5px;
  padding-bottom: 5px;
  color: grey;
}

.job-title-buttons {
  border-radius: 50%;
  border: solid grey 3px;
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 40px;
}

.job-title-buttons:hover {
  cursor: pointer;
  background-color: #bbceed;
}

.open-button {
  border-radius: 20%/50%;
  width: 100px; 
}

.open-icon {
  border-radius: 20%/50%;
  color: rgb(88, 226, 88);
  font-size: 10px;
}

.open-icon-text {
  font-size: 10px;
  color: grey;
  font-family: sans-serif;
}

/* Header button bar */

.header-button-bar-container {
  color: #7E8BA5;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  height: 40px;
  justify-content: space-around;
  margin: 38px 40px 10px;
}

.header-button-bar-container h3 {
  border-bottom: 4px solid transparent;
  text-align: center;
}

.header-button-bar-container h3:hover {
  border-bottom: 4px solid #26A6F7;
  color: black;
}

/* Graphs Section  */

.graphs-container {
  align-items: center;
  background-color: #EdF2F6;
  border-top: solid black 2px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  padding: 50px 0px 50px 0px;
}

.circle-graphs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.circle-graphs-other-container {
  display: flex;
}

.bar-graph-image {
  background-size: cover;
  background: url('images/bar-graph.png') no-repeat;
  display: flex;
  height: 182px;
  justify-content: center;
  margin-bottom: 20px;
  width: 380.5px;
  
}

.graph-buttons {
  align-items: center;
  display: flex;
  font-size: 10px;
  height: 35px;
  justify-content: center;
}

.graph-buttons:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.graph-button-style {
  border-radius: 10px;
  color: gray;
  font-size: 13px;
  height: 30px;
  width: 172px;
}

.bar-graph-button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.circle-chart__circle {
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-graph-number-titles {
  color: #7E8BA5;
}

.percentage {
  color: #7E8BA5;
  font-size: 20px;
}

.chart-div-line {
  background-color: #EDF2F6;
  text-align: center;
}

hr {
  border: 1px solid #354051;
  width: 40%;
  display: inline-block;
}
.left {
  margin: 3px 5px 0 40px;
}
.right {
  margin: 3px 45px 0 5px;
}
.chart-arrow-button {
  border-radius: 50px;
  outline-width: 0;
  padding: 0.5rem 0.7rem;
}

.chart-arrow-button:hover {
  background-color: #7E8BA5;
}


/* Resume and social media section */

.resume-and-social-media-container {
  align-items: center;
  background-color: #EdF2F6;
  display: grid;
  grid-template-columns: 1fr 400px;
}

.resume-container {
  align-self: center;
  background-color: white;
  color: #7E8BA5;
  display: grid;
  font-size: 13px;
  grid-template-columns:  200px 1fr;
  grid-template-rows: repeat(9, 1fr);
  height: 90%;
  justify-self: center;
  padding-bottom: 10px;
  width: 90%;
}

.top-title,
.resume-edit-button-container {
  align-items: center;
  background-color: #7E8BA5;
  border: none;
  color: white;
  display: flex;
}

.resume-edit-button {
  align-items: center;
  background-color: #354051;
  border: none;
  color: white;
  display: flex;
  height: 35px;
  width: 70px;
}

.resume-edit-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.top-title h3 {
  margin-left: 20px;
}

.resume-title-headers {
  align-items: center;
  border-bottom: solid #e1e4ea 2px;
  display: flex;
  font-weight: bold;
  margin-left: 20px;
}

.resume-title-details {
  align-items: center;
  border-bottom: solid #e1e4ea 2px;
  display: flex;
  margin-right: 20px;
  padding: 10px;
}

.hiring-pic {
  align-items: center;
  background-image: url(images/chris.png);
  background-size: cover;
  border-radius: 50%;
  display: flex;
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
  

/* social media container section */


.social-media-section-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 90%;
  width: 90%;
}

.box {
  display: flex;
  flex-direction: column;
}

.social-media-buttons {
  border-radius: 10px;
  color: white;
  flex-direction: row;
  height: 65px;
  margin: 10px;
  width: 300px;
}

.social-media-buttons:hover {
  cursor: pointer;
  filter: brightness(110%)
}
.social-media-box {
  justify-content: space-between;
}

.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #1dcaff;
}

.linkedin {
  background-color: #0077B5;
}

.fab {
  margin: 10px;
}

.links-container {
  border-bottom: solid #e1e4ea 2px;
}

.social-title {
  color: #354051;
  font-size: 16px;
  margin-top: 50px;
}

.social-text {
  color: #7E8BA5;
  font-size: 13px;
  margin: 10px;
  text-align: left;
  word-break: break-word;
}

.resume-input-form {
  border-radius: 10px;
  border: none;
  font-size: 13px;
  height: 50px;
  margin: 10px 0px 0px 10px;
  padding-left: 10px;
  width: 285px;
}

.resume-input-copy {
  background-color: #00aeb1;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  height: 50px;
  width: 50px;
}

.resume-input-copy:hover {
  cursor: pointer;
  filter: brightness(110%)
}


@media (max-width: 1080px) {

  main {
    grid-template-columns: 1fr;
  }

  .main-content-2 {
    display: grid;
    grid-template-columns: 1fr;
}

  .nav-main-container {
    display: none;
  }

  .graphs-container {
    grid-template-columns: 1fr;
  }

  .graph-left-button {
    grid-row: 2;
  }

  .resume-and-social-media-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .social-media-section-container {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0px 100px 0px 100px;
  }

  .resume-container {
    height: 100%;
    margin-top: 30px;
    width: 90%;
  }

  .links-container {
    width: 70vh;
  }

  hr {
    border: 1px solid #354051;
    display: inline-block;
    width: 30%;
  }

  .header-search-bar-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .header-search-search-bar {
    display: none;
  }

  .form-search-bar {
    display: none;
  }

  .job-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; 
    margin: 0; 
    text-align: center;
  }

  .job-title-location {
    grid-column: span 4;
    margin: 10px;
  }

  .job-title-text {
    text-align: center;
    margin-bottom: 30px;
    margin: 0;
    padding-top: 20px;
  }

  .links-container {
    width: 52vh;
  }

  .social-media-section-container {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0px 100px 0px 100px;
  }

  hr {
    border: 1px solid #354051;
    width: 30%;
    display: inline-block;
  }

}



@media (max-width: 768px) {


}

@media (max-width: 400px){
  .header-button-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    height: auto;
    margin: 10px;
    padding: 10px 10px;
  }

  .header-button-bar-container h3 {
    padding: 5px;
  }

  .job-title-location {
    display: grid;
    grid-template-columns: 1fr;
  }

  .job-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 10px;

  }

  .fa-map-marker-alt {
    display: none !important;
  }

  .graphs-container {
    display: none;
  }
  .chart-div-line {
    display: none;
  }

  .resume-container {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .resume-title-details {
    margin-left: 40px;
  }
  .social-media-section-container {
    display: none;
  }
}





















