* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.nav-main-container {
  background-color: #354051;
}


/* Profile Pic Section */

.nav-main-profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EDF2F6;
  border-bottom: 5px solid #021433;
}

.profile-pic {
  background-image: url(images/paulv.jpeg);
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  margin: 35px 0 15px;
}

.profile-pic-name {
  padding-bottom: 35px;
  font-weight: 100;
  font-size: 14px;
}

/* Navigation bar titles and links */


.nav-bar-directory {
  font-size: 13px;
  color: #bbceed;
  border-left: solid transparent 2px;
  padding: 15px 15px 20px
}

.nav-bar-titles {
  font-size: 12px;
  padding: 20px 15px 10px;
  color: #7E8BA5;
  font-weight: 900;
}

.nav-bar-directory:hover {
  cursor: pointer;
  background-color: #021433;
  filter: brightness(110%);
  border-left: solid blue 2px;
}



/* Nav First Section */

.nav-main-section {
  border-bottom: 5px solid #021433;
}

/* Nav Admin Section */

.nav-admin-section {
  border-bottom: 5px solid #021433;
}

/* Nav categories section */

.fa-check-square {
  color: yellow;
}

.small-blue-square {
  color: blue;
}

.small-red-square {
  color: red;
}

.small-green-square {
  color: green;
}

.fas {
  margin: 10px
}


.main-content-2 {
  width: 100%;
  height: 100%;

}

/* Search Bar Section */

.header-search-bar-container {
  display: grid;
  grid-template-columns: 80px 1fr 80px 80px 80px;
  height: 80px;
}

.top-buttons {
  display: flex;
  justify-content: center;
  border:#e1e4ea 2px solid;
  border-top: none;
}

.top-icons {
  margin-top: 25px;
}

.top-buttons:hover {
  cursor: pointer;
  background-color: #26a6f7;
}

.header-search-search-bar {
  border: #e1e4ea 2px solid;
  width: 100%;
  height: 80px;
  font-size: 20px;
  padding-left: 45px;
  border-top: none;
}

.fa-bars {
  margin-right: 10px;
}

.header-job-title-bar {
  height: 150px;
  width: 100%;
  border: solid black 2px;
}

.header-search-hamburger {
  border-left: none;
}


/* Customer service title section */

.job-title {
  display: grid;
  grid-template-columns: 1fr 120px repeat(3,60px);
  margin-right: 35px;
}


.job-title-text {
  font-size: 30px;
  margin: 70px 0px 20px 60px;
}

.job-title-location {
  font-size: 15px;
  margin-left: 33px;
}

.job-title-preview {
  color: #26a6f7;
}

.fa-circle {
  font-size: 5px;
  padding-bottom: 5px;
  color: grey;
}

.job-title-buttons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid grey 3px;
  display: inline-block;
  text-align: center;
}

.open-button {
  border-radius: 20%/50%;
  width: 100px; 
}

.open-icon {
  border-radius: 20%/50%;
  color: rgb(88, 226, 88);
  font-size: 10px;
}

.open-icon-text {
  font-size: 10px;
  color: grey;
  font-family: sans-serif;

}

/* Header button bar */

.header-button-bar-container {
  color: #7E8BA5;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  height: 40px;
  justify-content: space-between;
  margin: 38px 40px 10px;
  padding: 5px 0px 0px 25px;
}

.header-button-bar-container h3 {
  border-bottom: 4px solid transparent;
  text-align: center;
}

.header-button-bar-container h3:hover {
  border-bottom: 4px solid #26a6f7;
  color: black;
}

/* Graphs Section  */

.graphs-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
  background-color: #EdF2F6;
  padding: 50px 0px 50px 0px;
}

.circle-graphs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.bar-graph-image {
  display: flex;
  justify-content: center;
  background: url('images/bar-graph.png') no-repeat;
  background-size: cover;
  height: 175px;
  width: 343.5px;
  margin-left: 25px;
}

.graph-buttons {
  display: flex;
  justify-content: center;
  height: 35px;
  align-items: center;
  font-size: 10px;
}

.graph-button-style {
  font-size: 13px;
  height: 20px;
  width: 172px;
  border-radius: 10px;
  color: gray;

}



.bar-graph-button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.circle-chart__circle {
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-graph-number-titles {
  color: #7E8BA5;
}

.percentage {
  color: #7E8BA5;
  font-size: 20px;
}

/* hr {
  border: 1px solid rgb(229 230 233);
  width: 40%;
  display: inline-block;
}
.left {
  margin: 3px 5px 0 40px;
}
.right {
  margin: 3px 45px 0 5px;
}
.arrow-button {
  border-radius: 50px;
  padding: 0.5rem 0.7rem;
  outline-width: 0;
} */


/* Resume and social media section */

.resume-and-social-media-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  width: 100%;
  align-items: center;
  justify-items: center;
  background-color: #EdF2F6;
}

.resume-container {
  display: grid;
  grid-template-columns:  200px 1fr;
  grid-template-rows: repeat(9, 1fr);
  width: 90%;
  height: 90%;
  align-self: center;
  font-size: 13px;
  color: #7E8BA5;
  background-color: white;
  
}

.top-title,
.resume-edit-button-container {
  background-color: #7E8BA5;
  color: white;
  display: flex;
  align-items: center;
  border: none;
}

.resume-edit-button {
  height: 35px;
  width: 70px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #354051;
  border: none;
}

.resume-edit-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.top-title h3 {
  margin-left: 20px;
}

.resume-title-headers {
  margin-left: 20px;
  border-bottom: solid #e1e4ea 2px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.resume-title-details {
  display: flex;
  align-items: center;
  border-bottom: solid #e1e4ea 2px;
  margin-right: 20px;
}

.hiring-pic {
  display: flex;
  align-items: center;
  background-image: url(images/paulv.jpeg);
  height: 30px;
  width: 30px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
  

/* social media container section */


.social-media-section-container {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.box {
  display: flex;
  flex-direction: column;
}

.social-media-buttons {
  width: 300px;
  height: 65px;
  color: white;
  margin: 10px;
  border-radius: 10px;
  flex-direction: row;
}

.social-media-buttons:hover {
  cursor: pointer;
  filter: brightness(110%)
}
.social-media-box {
  justify-content: space-between;
}

.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #1dcaff;
}

.linkedin {
  background-color: #0077B5;
}

.fab {
  margin: 10px;
}

.links-container {
  border-bottom: solid #e1e4ea 2px;
}

.social-title {
  color: #354051;
  font-size: 16px;
  margin-top: 50px;
}

.social-text {
  font-size: 13px;
  color: #7E8BA5;
  margin: 10px;
  word-break: break-all;
}

.resume-input-form {
  width: 285px;
  height: 50px;
  margin: 10px 0px 0px 10px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 13px;
}

.resume-input-copy {
  width: 50px;
  height: 50px;
  background-color: #00aeb1;
  border-radius: 10px;
  font-size: 13px;
  color: white;
}

.resume-input-copy:hover {
  cursor: pointer;
  filter: brightness(110%)
}